<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2 style="float: left">Products</h2>
<a th:href="@{/add-product}" class="btn btn-success" role="button" style="float: right">Create new product</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Made in</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.made_in}"></td>
            <td th:text="${#numbers.formatDecimal(product.price,3,'POINT',2,'COMMA')}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__}" class="btn btn-success" role="button">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__}" class="btn btn-success" role="button" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>